.DS_Store
.idea
poe-stash-indexer.iml
target
indexer_state.json
infra/configuration/instantiated/*
.vscode

# volumes
trade/trade-store
timescaledb
tmp # shared .cargo deps for local dev builds

# secret data
secrets
infra/configuration/environments/.env.production
infra/configuration/environments/.env.development
