[package]
name = "indexer"
version = "0.1.0"
authors = ["Maximilian Stock <mxmlnstock@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
diesel = { version = "1.4.8", features = ["postgres", "chrono", "serde_json"] }
dotenv = "0.15.0"
chrono = { version = "0.4.24", features = ["serde"] }
stash-api = { path = "../stash-api", features = ["async"] }
pretty_env_logger = "0.4.0"
config = "0.13.3"
signal-hook = "0.3.15"
amiquip = "0.4.2"
prometheus_exporter = "0.8.5"
tokio = { version = "1.27.0", features = ["full"] }
futures = "0.3.28"
tracing = "0.1.38"
trade-common = { path = "../trade-common" }

[[bin]]
name = "indexer"
path = "src/main.rs"
