[package]
name = "trade-api"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.11.1"
serde = { version = "1.0.216", features = ["derive"] }
serde_json = "1.0.134"
signal-hook = "0.3.15"
tokio = { version = "1.42.0", features = ["full"] }
typed-builder = "0.19.1"
prometheus_exporter = "0.8.5"
tracing = "0.1.37"
chrono = { version = "0.4.39", features = ["serde"] }
sqlx = { version = "0.8.1", features = [
    "runtime-tokio-rustls",
    "postgres",
    "chrono",
] }
trade-common = { path = "../trade-common" }
axum = "0.6.20"
tower = "0.5.2"
tower-http = { version = "0.4.1", features = ["trace"] }
