[package]
name = "trade-api"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.9.3"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.105"
signal-hook = "0.3.15"
tokio = { version = "1.26.0", features = ["full"] }
typed-builder = "0.15.2"
prometheus_exporter = "0.8.5"
tracing = "0.1.37"
chrono = { version = "0.4.26", features = ["serde"] }
sqlx = { version = "0.6.2", features = [
    "runtime-tokio-rustls",
    "postgres",
    "chrono",
] }
trade-common = { path = "../trade-common" }
axum = "0.6.15"
tower = "0.4.13"
tower-http = { version = "0.4.1", features = ["trace"] }
