[package]
name = "trade-api"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.7.1"
serde = { version = "1.0.154", features = ["derive"] }
serde_json = "1.0.94"
signal-hook = "0.3.15"
tokio = { version = "1.26.0", features = ["full"] }
typed-builder = "0.14.0"
prometheus_exporter = "0.8.5"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.17.0", features = ["rt-tokio"] }
tracing-opentelemetry = "0.18.0"
chrono = { version = "0.4.24", features = ["serde"] }
sqlx = { version = "0.6.2", features = [
    "runtime-tokio-rustls",
    "postgres",
    "chrono",
] }
trade-common = { path = "../trade-common" }
axum = "0.6.10"
tower = "0.4.13"
tower-http = "0.4.0"
