[package]
name = "stash-differ"
version = "0.1.0"
authors = ["Maximilian Stock <mxmlnstock@googlemail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.179", features = ["derive"] }
chrono = { version = "0.4.34", features = ["serde"] }
dotenv = "0.15.0"
stash-api = { path = "../stash-api" }
signal-hook = "0.3.15"
tokio = { version = "1.27.0", features = ["full"] }
futures = "0.3.28"
tracing = "0.1.38"
trade-common = { path = "../trade-common" }
aws-sdk-s3 = "1.17.0"
aws-types = "1.1.1"
aws-config = "1.1.1"
aws-credential-types = "1.1.1"
flate2 = "1.0.27"
jsonl = "4.0.1"
anyhow = "1.0.75"

[[bin]]
name = "stash-differ"
