[package]
name = "stash-api"
version = "0.1.0"
authors = ["Maximilian Stock <mxmlnstock@googlemail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.202", features = ["derive"] }
serde_json = "1.0.117"
reqwest = { version = "0.11.20", features = [
    "json",
    "async-compression",
    "rustls-tls",
], default-features = false }
tokio = { version = "1.37.0", features = ["full"] }
futures = { version = "0.3.27" }
bytes = { version = "1.4.0" }
serde_urlencoded = "0.7.1"
trade-common = { path = "../trade-common" }
tracing = "0.1.38"
