[package]
name = "stash-api"
version = "0.1.0"
authors = ["Maximilian Stock <mxmlnstock@googlemail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
ureq = { version = "2.6.2", optional = true }
reqwest = { version = "0.11.16", features = [
    "json",
    "async-compression",
], optional = true }
tokio = { version = "1.26.0", features = [], optional = true }
governor = { version = "0.5.1", optional = true }
futures = { version = "0.3.27", optional = true }
bytes = { version = "1.4.0", optional = true }
serde_urlencoded = "0.7.1"
trade-common = { path = "../trade-common" }
tracing = "0.1.38"
dotenv = "0.15.0"


[features]
default = []
sync = ["dep:ureq"]
async = ["dep:tokio", "dep:governor", "dep:reqwest", "dep:futures", "dep:bytes"]
