name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  # Because matklad said so https://matklad.github.io/2021/09/04/fast-rust-builds.html
  CARGO_INCREMENTAL: 0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  actions: write # allow dependabot PRs to manipulate CI cache

jobs:
  ci:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"

      - uses: DeterminateSystems/flake-checker-action@main

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v16
        with:
          name: "${{ secrets.CACHIX_AUTH_USERNAME }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build, Test & Lint
        run: nix build --extra-experimental-features "nix-command flakes" .#indexer

  dependabot-auto-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    needs: ci
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}

  docker:
    runs-on: ubuntu-latest
    needs: ci
    if: "!contains(github.event.head_commit.message, 'docker skip') && github.ref_name == 'master'"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v16
        with:
          name: "${{ secrets.CACHIX_AUTH_USERNAME }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build, Test & Lint
        run: nix build --extra-experimental-features "nix-command flakes" .#packages.x86_64-linux.indexer-docker

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Indexer
        run: |
          docker load < result
          # TODO: extend this with another tag for the actual Cargo version
          docker push maximumstock2/indexer:latest
